
.container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .info_home{
        display: flex;
        flex-direction: column;
        gap: 77px;
    }
        h2{
            font-size: 58px;
        }